Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@asepindra 
asepindra
/
yii2-pusher
Public
forked from br0sk/yii2-pusher
Code
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
yii2-pusher/.gitignore
@br0sk
br0sk Initial version
Latest commit 98f1f3c on Nov 15, 2015
 History
 1 contributor
33 lines (24 sloc)  483 Bytes
   
# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# environments folder will be done via bitbucket from now on
environments

# Some composer packages used components folder
/components
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
